[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
titlecase = "*"
pandas = "*"
lxml = "*"
biblelib = "*"
greek-normalisation = "*"
regex = "*"
spacy = "*"
grc-proiel-sm = {file = "https://huggingface.co/Jacobo/grc_proiel_sm/resolve/main/grc_proiel_sm-any-py3-none-any.whl"}
grc-proiel-trf = {file = "https://huggingface.co/Jacobo/grc_proiel_trf/resolve/main/grc_proiel_trf-any-py3-none-any.whl"}
spacy-alignments = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
